* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
/*bg-color*/
.dark-purple {
  background-color: #1a0b2e;
}
/* navar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px; 
  width: 100%;
    flex-wrap: wrap;
    
}
.logo{
  font-size:2.5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
 
}
.logo:hover {
  transform: scale(1.2); 
}
.logo span {
  background: linear-gradient(to top, yellow, #ff00cc, #3333ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 1.3rem;
  cursor: pointer;
  justify-content: space-around;
  color: white;
    
}
.nav-links li{
    
transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.nav-links li:hover {
  transform: scale(1.2); 
}
.subscribe-btn button  {
  background: linear-gradient(to right, #ffcc00, #ff00cc, #3333ff);
  color: white;
  border: none;
  padding: 20px 40px;
  font-size:medium;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer; 
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.subscribe-btn :hover {
  transform: scale(1.2); 
}
.btn-subscribe-main {
  display: inline-block;
}
.menu-icon {
  display: none;
  width: auto;
  height: auto;
  scale: calc(1.5);
}
/* hero */
.hero{
  position: relative;
  margin-bottom: 0;

}

.hero .bg{
    width: 100%;
     display: block;
     line-height: 0;


}
.bg-img {
  position: relative; 
 
}
.circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width:28%;
  aspect-ratio: 1;
}
.mic{
   position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width:7%;
  height: auto;
}
.grn-btn {
  position: absolute;
  background-color: #00ff88;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 40px;
  left: 58%;
  top: 16%;
  box-shadow: 0px 0px 15px #00ff88;
  z-index: 2;
}
/* text-container */
.text-container{
   background-color: #1a0b2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: -5px;


}
.all-text{
  position: relative;
  color: white; 
  text-align: center;
  margin-top: -200px;  


}
h1 {
  font-size: 3rem;
   margin-bottom: 10px;
}

p {
  font-size: 1rem;
 margin-bottom: 20px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.subscribe-btn-transparent {
  width: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 12px 40px;
  font-weight: bold;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.subscribe-btn-transparent:hover {
  transform: scale(1.2); 
}

.spotify-btn {
  display: flex;
  align-items: center;
  gap: 5px;
   width: auto;
  background: linear-gradient(to right, #ffcc00, #ff00cc, #3333ff);
  border: none;
  padding: 1rem 1.5rem;
  font-weight: bold;
  border-radius: 2.5rem;
  cursor: pointer;
  color: white;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.spotify-btn:hover {
  
   transform: scale(1.2); 
}

@media screen and (max-width: 576px), screen and (max-width: 768px){
  .logo{
  font-size:1.5rem;
}
.navbar{
  justify-content: space-between;
}
   .btn-subscribe-main{
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .nav-links {
    display: none;
  }
  .circle {
  width:30%;
}
  .grn-btn {
    top: 15%;
    left: 55%;
    font-size: 0.5rem;
  }
  .text-container{
  width: 100%;

  }
   .all-text {
    transform: none;
    margin-top: -2.5rem;
    position: relative;
    width: 100%;
    padding-bottom: 1.25rem;
  }

 h1 {
  font-size: 1.5rem;
}

p {

  font-size: .8rem;
}
.cta-buttons{
  gap: 0.625rem;
}
.spotify-btn{
  font-size: 0.7rem;

}
.subscribe-btn-transparent {
  font-size: 0.7rem;
}
}