* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
/*bg-color*/
.dark-purple {
  background-color: #1a0b2e;
}
/* navar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px; 
  width: 100%;
    flex-wrap: wrap;
}
.logo{
  font-size:2.5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.logo:hover {
  transform: scale(1.2); 
}
.logo span {
  background: linear-gradient(to top, yellow, #ff00cc, #3333ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 1.3rem;
  cursor: pointer;
  justify-content: space-around;
  color: white;
    
}
.nav-links li{
    
transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.nav-links li:hover {
  transform: scale(1.2); 
}
.subscribe-btn button  {
  background: linear-gradient(to right, #ffcc00, #ff00cc, #3333ff);
  color: white;
  border: none;
  padding: 20px 40px;
  font-size:medium;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer; 
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.subscribe-btn :hover {
  transform: scale(1.2); 
}
.main-btn {
  display: inline-block;
}
.menu-icon {
  display: none;
  width: auto;
  height: auto;
  scale: calc(1.5);
}
/* hero */

.hero .bg{
    width: 100%;
}
.bg-img {
  position: relative; 
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width:28%;
  aspect-ratio: 1;
}
.mic{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width:7%;
  height: auto;
}
.grn-btn {
  position: absolute;
  background-color: #00ff88;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 40px;
  left: 57%;
  top: 22%;
  box-shadow: 0px 0px 15px #00ff88;
}
@media screen and (max-width: 576px), screen and (max-width: 768px){
  .logo{
  font-size:1.5rem;
}
.navbar{
  justify-content: space-between;
}
   .main-btn {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .nav-links {
    display: none;
  }
 .grn-btn{
 font-size: 0.6rem;
  padding: 0.3rem 0.6rem
 }

}




