* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/*bg-color*/
.dark-purple {
  background-color: #1a0b2e;
}

/* navar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
  flex-wrap: wrap;

}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

}

.logo:hover {
  transform: scale(1.2);
}

.logo span {
  background: linear-gradient(to top, yellow, #ff00cc, #3333ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 1.3rem;
  cursor: pointer;
  justify-content: space-around;
  color: white;

}

.nav-links li {

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.nav-links li:hover {
  transform: scale(1.2);
}

.subscribe-btn button {
  background: linear-gradient(to right, #ffcc00, #ff00cc, #3333ff);
  color: white;
  border: none;
  padding: 20px 40px;
  font-size: medium;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.subscribe-btn :hover {
  transform: scale(1.2);
}

.btn-subscribe-main {
  display: inline-block;
}

.menu-icon {
  display: none;
  width: auto;
  height: auto;
  scale: calc(1.5);
}

/* hero */
.hero {
  position: relative;
  margin-bottom: 0;

}

.hero .bg {
  width: 100%;
  display: block;
  line-height: 0;


}

.bg-img {
  position: relative;

}

.circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28%;
  aspect-ratio: 1;
}

.mic {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7%;
  height: auto;
}

.grn-btn {
  position: absolute;
  background-color: #00ff88;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 40px;
  left: 58%;
  top: 16%;
  box-shadow: 0px 0px 15px #00ff88;
  z-index: 2;
}

/* text-container */
.text-container {
  background-color: #1a0b2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: -5px;


}

.all-text {
  position: relative;
  color: white;
  text-align: center;
  margin-top: -200px;


}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.subscribe-btn-transparent {
  width: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 12px 40px;
  font-weight: bold;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.subscribe-btn-transparent:hover {
  transform: scale(1.2);
}

.spotify-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  width: auto;
  background: linear-gradient(to right, #ffcc00, #ff00cc, #3333ff);
  border: none;
  padding: 1rem 1.5rem;
  font-weight: bold;
  border-radius: 2.5rem;
  cursor: pointer;
  color: white;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.spotify-btn:hover {

  transform: scale(1.2);
}

/*about*/
.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
  /* padding: 5px 2px; */
  background-color: #1a0b2e;
}

br {
  display: inline;
}

.About p {
  max-width: 100%;
  margin: 0 auto;
}

.About h1,
p {
  color: white;
}

.About p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

.About .short {
  margin: 0 auto;
  padding-bottom: 2.5rem;
}

.horizontal-line {
  background-color: #1a0b2e;
  padding-bottom: 2rem;

}

hr {
  width: 80%;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0px auto 0 auto;
}

/* rating-info */
.info {
  background-color: #1a0b2e;
  display: flex;
  color: #00ff88;
  gap: 10rem;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

.box1,
.box2,
.box3,
.box4 {
  text-align: center;
}

/* grid-section */
.grid-section {
  background-color: #230E3D;
  color: white;
  padding: 5rem 0px;
}

.grid-section h1 {
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgba(53, 17, 101, 0.5);
  padding: 2rem;
  border-radius: 1.5rem;
  text-align: left;
}

.card h3 {
  margin: 15px 0;
  font-size: 1.4rem;
}

.card p {
  color: #bcaecf;
  line-height: 1.6;
}

.premium {

  grid-area: premium;

}

.mobile {
  grid-area: mobile;
}

.global {
  grid-area: global;
}

.interviews {
  grid-area: interviews;
}

.resources {
  grid-area: resources;
}

.grid-layout {

  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "premium mobile mobile"
    "premium global global"
    "interviews interviews resources";
  max-width: 1100px;
  margin: 0 auto;
}

/* episode */
.feature-section h1 {
  display: flex;
  justify-content: center;
  color: white;
  padding: 3rem 0 2rem 0;
}

.episode-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 100px;
}

.episode-container h3 {
  color: white;
}

.episode-container p {
  color: #bcaecf;

}

.episode {
  width: 30rem;
  background-color: rgba(53, 17, 101, 0.5);
  border-radius: 25px;
}

.episode1,
.episode2,
.episode3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem 0.5rem;
  text-align: left;
}

.episode iframe {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.YouTube-Thumbnail {
  display: flex;
  justify-content: center;
}

.sub-episode {
  display: flex;
  flex-direction: column;
}

.sub-episode h3 {
  margin-bottom: 1rem;
}

.time-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

/* Host */
.host {
  padding-bottom: 2rem;
}

.host h1 {

  color: white;
  padding-bottom: 40px;
}

.host-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  width: 70%;
  padding: 3rem;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 25px;
  text-align: left;
}

.host-info h2 {
  color: white;
  margin-bottom: 20px;
}

.host-info p {
  color: #bcaecf;
  line-height: 1.6;
}

@media screen and (max-width: 576px),
screen and (max-width: 768px) {

  /* navbar */
  .logo {
    font-size: 1.5rem;
  }

  .navbar {
    justify-content: space-between;
  }

  .btn-subscribe-main {
    display: none;
  }

  .menu-icon {
    display: inline-block;
  }

  .nav-links {
    display: none;
  }

  /* bg-section */
  .circle {
    width: 30%;
  }

  .grn-btn {
    top: 15%;
    left: 55%;
    font-size: 0.5rem;
  }

  /* text-container */
  .text-container {
    width: 100%;

  }

  .all-text {
    transform: none;
    margin-top: -2.5rem;
    position: relative;
    width: 100%;
    padding-bottom: 1.25rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {

    font-size: .8rem;
  }

  .cta-buttons {
    gap: 0.625rem;
  }

  .spotify-btn {
    font-size: 0.7rem;

  }

  .subscribe-btn-transparent {
    font-size: 0.7rem;
  }

  .About {
    margin-top: -1rem;
    padding: 1.25rem;
  }

  .About .short {
    padding-bottom: 1rem;
  }

  br {
    display: none;
  }

  .horizontal-line {
    margin-top: -10px;
  }

  /* rating-info */
  .info {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #00ff88;
    gap: 5px;
    margin-top: -10px;
    padding-bottom: 2.7rem;
  }

  .info h1 {
    font-size: xx-large;
  }

  .info p {
    font-size: 1rem;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    padding: 0px 0.6rem;
  }

  /* grid-section */

  .grid-section {
    padding: 3rem 0px;
  }

  .grid-layout {

    display: flex;
    flex-direction: column;
    margin: 0px 1rem;
  }

  .card {

    padding: 1rem;

  }

  /* episode-section */
  .feature-section h1 {

    padding: 2rem 0 1rem 0;
  }

  .episode-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1rem;
    margin: 0px 1rem;
  }

  .episode {
    width: 100%;
  }

  .episode iframe {
    width: 100%;
  }

  /* Host */
  .host-info {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .host .text-info {
    text-align: center;
  }
}